extends ./outline.jade

include ./mixins.jade


mixin declare_class(name)
  details
    summary
      span.declaration
        span.label class
        code #{name}
    block

mixin method(name, parameters)
  details(open=attributes.open)
    summary
      span.declaration
        span.label #{name}
        span.parameters
          | self, #{parameters}
    block


mixin params
  ul
    block


mixin param(name, type, value)
  li
    if type
      <strong>#{name}</strong> (!{type}) &#8211;
    else
      <strong>#{name}</strong> &#8211;
    block


mixin attribute(name, type, value)
  details(open=attributes.open)
    summary
      span.declaration
        span.label #{name}
    block


mixin returns(name, type, value)
  li
    if type
      <strong>#{name}</strong> (!{type}) &#8211;
    else
      <strong>#{name}</strong> &#8211;
    block


mixin returns(type)
  | tmp

mixin init
  details
    summary: h4 Init

    block


mixin callable
  details
    summary: h4 Callable

    block


mixin sequence
  details
    summary: h4 Sequence

    block


mixin maptype
  details
    summary: h4 Map

    block


mixin summary
  block

mixin en_example
  pre.language-python
    code
      | from spacy.en import English
      | from spacy._doc_examples import download_war_and_peace
      | 
      | unprocessed_unicode = download_war_and_peace()
      | 
      | nlp = English()
      | doc = nlp(unprocessed_unicode)


block intro_block
  section(class="intro")

    nav(role="navigation")
      ul
        li: a(href="#api" class="button") API
        li: a(href="#tutorials" class="button") Tutorials
        li: a(href="#spec" class="button") Spec


block body_block
  - var py_docs = '<a class="reference" href="http://docs.python.org/library/'

  -
    var types = {
      'unicode': py_docs + 'functions.html#unicode"><em>unicode</em></a>',
      'bool': py_docs + 'functions.html#bool"><em>bool</em></a>',
      'int': py_docs + 'functions.html#int"><em>int</em></a>',
      'generator': "",
      'Vocab': "",
      'Span': "",
      'Doc': ""
    }

  article

    +Section("API", "api", "api.jade")
    +Section("Tutorials", "tutorials", "tutorials.jade")
    +Section("Annotation Specifications", "spec", "spec.jade")
