//- 💫 INCLUDES > NEWSLETTER

ul.o-block
    li.u-text-label.u-color-subtle Stay in the loop!
    li Receive updates about new releases, tutorials and more.

form.o-grid#mc-embedded-subscribe-form(action="//#{MAILCHIMP.user}.list-manage.com/subscribe/post?u=#{MAILCHIMP.id}&amp;id=#{MAILCHIMP.list}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate)

    //- MailChimp spam protection
    div(style="position: absolute; left: -5000px;" aria-hidden="true")
        input(type="text" name="b_#{MAILCHIMP.id}_#{MAILCHIMP.list}" tabindex="-1" value="")

    .o-grid-col.u-border.u-padding-small
        input#mce-EMAIL.u-text(type="email" name="EMAIL" placeholder="Your email")

        button#mc-embedded-subscribe.u-text-label.u-color-theme(type="submit" name="subscribe") Sign up
