//- 💫 INCLUDES > MODELS PAGE TEMPLATE

for id in CURRENT_MODELS
    +section(id)
        +grid("vcenter").o-no-block(id=id)
            +grid-col("two-thirds")
                +h(2)
                    +a("#" + id).u-permalink=id

            +grid-col("third").u-text-right
                .u-color-subtle.u-text-tiny
                    +button(gh("spacy-models") + "/releases", true, "secondary", "small")(data-tpl=id data-tpl-key="download")
                        |  Release details
                    .u-padding-small Latest: #[code(data-tpl=id data-tpl-key="version") n/a]

        +aside-code("Installation", "bash", "$").
            python -m spacy download #{id}

        - var comps = getModelComponents(id)

        p(data-tpl=id data-tpl-key="description")

        div(data-tpl=id data-tpl-key="error")
            +infobox
                |  Unable to load model details from GitHub. To find out more
                |  about this model, see the overview of the
                |  #[+a(gh("spacy-models") + "/releases") latest model releases].

        +table.o-block-small(data-tpl=id data-tpl-key="table")
            +row
                +cell #[+label Language]
                +cell #[+tag=comps.lang] #{LANGUAGES[comps.lang]}
            for comp, label in {"Type": comps.type, "Genre": comps.genre}
                +row
                    +cell #[+label=label]
                    +cell #[+tag=comp] #{MODEL_META[comp]}
            +row
                +cell #[+label Size]
                +cell #[+tag=comps.size] #[span(data-tpl=id data-tpl-key="size") #[em n/a]]

            each label in ["Pipeline", "Vectors", "Sources", "Author", "License"]
                - var field = label.toLowerCase()
                if field == "vectors"
                    - field = "vecs"
                +row
                    +cell.u-nowrap
                        +label=label
                            if MODEL_META[field]
                                |  #[+help(MODEL_META[field]).u-color-subtle]
                    +cell
                        span(data-tpl=id data-tpl-key=field) #[em n/a]

            +row(data-tpl=id data-tpl-key="compat-wrapper" hidden="")
                +cell
                    +label Compat #[+help("Latest compatible model version for your spaCy installation").u-color-subtle]
                +cell
                    .o-field.u-float-left
                        select.o-field__select.u-text-small(data-tpl=id data-tpl-key="compat")
                    div(data-tpl=id data-tpl-key="compat-versions") &nbsp;

        section(data-tpl=id data-tpl-key="benchmarks" hidden="")
            +grid.o-block-small
                for keys, label in MODEL_BENCHMARKS
                    .u-flex-full.u-padding-small(data-tpl=id data-tpl-key=label.toLowerCase() hidden="")
                        +table.o-block-small
                            +row("head")
                                +head-cell(colspan="2")=(MODEL_META["benchmark_" + label] || label)
                            for label, field in keys
                                +row(hidden="")
                                    +cell.u-nowrap
                                        +label=label
                                            if MODEL_META[field]
                                                |  #[+help(MODEL_META[field]).u-color-subtle]
                                    +cell("num")(data-tpl=id data-tpl-key=field)
                                        |  n/a

        p.u-text-small.u-color-dark(data-tpl=id data-tpl-key="notes")
