//- 💫 GLOBAL LAYOUT

include _includes/_mixins

- title = IS_MODELS ? LANGUAGES[current.source] || title : title

- PAGE_URL = getPageUrl()
- PAGE_TITLE = getPageTitle()
- PAGE_IMAGE = getPageImage()

doctype html
html(lang="en")
    head
        title=PAGE_TITLE
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="referrer" content="always")
        meta(name="description" content=description)

        meta(property="og:type" content="website")
        meta(property="og:site_name" content=sitename)
        meta(property="og:url" content=PAGE_URL)
        meta(property="og:title" content=PAGE_TITLE)
        meta(property="og:description" content=description)
        meta(property="og:image" content=PAGE_IMAGE)

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@" + SOCIAL.twitter)
        meta(name="twitter:title" content=PAGE_TITLE)
        meta(name="twitter:description" content=description)
        meta(name="twitter:image" content=PAGE_IMAGE)

        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="icon" type="image/x-icon" href="/assets/img/favicon.ico")

        if SECTION == "api"
            link(href="/assets/css/style_green.css?v#{V_CSS}" rel="stylesheet")
        else if SECTION == "universe"
            link(href="/assets/css/style_purple.css?v#{V_CSS}" rel="stylesheet")
        else
            link(href="/assets/css/style.css?v#{V_CSS}" rel="stylesheet")

    body
        include _includes/_svg
        include _includes/_navigation

        if !landing
            include _includes/_page-docs

        else if SECTION == "universe"
            !=yield

        else
            main!=yield
                include _includes/_footer

        include _includes/_scripts
