//- 💫 GLOBAL LAYOUT

include _includes/_mixins

doctype html

html(lang="en")
    title
        if SECTION == "docs" && SUBSECTION && SUBSECTION != "index"
            | #{title} | #{SITENAME} #{SUBSECTION == "api" ? "API" : "Usage"} Documentation

        else if SECTION != "index"
            | #{title} | #{SITENAME}

        else
            | #{SITENAME} - #{SLOGAN}

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="referrer" content="always")
    meta(name="description" content=description)

    meta(property="og:type" content="website")
    meta(property="og:site_name" content=sitename)
    meta(property="og:url" content="#{SITE_URL}/#{current.path.join('/')}")
    meta(property="og:title" content="#{title} - spaCy")
    meta(property="og:description" content=description)
    meta(property="og:image" content="#{SITE_URL}/assets/img/social#{(SECTION == 'docs') ? '_docs' : ''}.jpg")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@" + SOCIAL.twitter)
    meta(name="twitter:title" content="#{title} - spaCy")
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content="#{SITE_URL}/assets/img/social#{(SECTION == 'docs') ? '_docs' : ''}.jpg")

    link(rel="shortcut icon" href="/assets/img/favicon.ico")
    link(rel="icon" type="image/x-icon" href="/assets/img/favicon.ico")

    if SUBSECTION == "usage"
        link(href="/assets/css/style_red.css?v#{V_CSS}" rel="stylesheet")

    else
        link(href="/assets/css/style.css?v#{V_CSS}" rel="stylesheet")

    body
        include _includes/_navigation

        if SECTION == "docs"
            include _includes/_page-docs

        else
            main!=yield
                include _includes/_footer

        include _includes/_scripts
