//- ----------------------------------
//- 💫 GLOBAL LAYOUT
//- ----------------------------------

include _includes/_mixins

doctype html

html(lang="en")
    title=(current.path[0] == "index") ? SITENAME + " | " + SLOGAN : title + " | " + SITENAME

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="referrer" content="always")
    meta(name="description" content=description)

    meta(property="og:type" content="website")
    meta(property="og:site_name" content=sitename)
    meta(property="og:url" content="#{SITE_URL}/#{current.path.join('/')}")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content="/assets/img/social.png")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@" + SOCIAL.twitter)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content="/assets/img/social.jpg")

    link(rel="shortcut icon" href="/assets/img/favicon.ico")
    link(rel="icon" type="image/x-icon" href="/assets/img/favicon.ico")
    link(href="/assets/css/style.css" rel="stylesheet")

    body
        include _includes/_navigation

        if !landing
            header.o-header.u-pattern.u-text-center
                if current.path[1] == "tutorials"
                    h2.u-heading-1.u-text-shadow Tutorials

                else
                    +h(1).u-text-shadow=title

            if sidebar
                include _includes/_sidebar

            main.o-content(class="#{(sidebar) ? 'o-content--sidebar' : '' } #{((current.path[0] == 'docs' && asides != false) || asides) ? 'o-content--asides' : '' } #{(current.path[1] == 'tutorials') ? 'o-content--article' : '' }")
                if current.path[1] == "tutorials"
                    +h(1)=title

                !=yield

        else
            !=yield

        include _includes/_footer

        include _includes/_scripts
